// Register
.register {
  background: url(../../img/sky.jpg) no-repeat center center fixed;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: -1;
  .container {
    display: block;
    height: 560px;
    width: 500px;
    background: rgba(245, 245, 245, 0.1);
  }
  .email {
    margin-bottom: 10px;
  }
  small {
    font-size: 14px;
  }
}

// Login
.login {
  background: url(../../img/sky.jpg) no-repeat center center fixed;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: -1;
  .container {
    display: block;
    height: 380px;
    width: 500px;
    background: rgba(245, 245, 245, 0.1);
  }
}

.auth {
  .inner {
    text-align: center;
    padding: 60px 70px;
    color: #fff;
  }
  hr {
    margin: 10px 30px 30px;
  }
  h1 {
    font-size: 35px;
    font-weight: 300;
  }
  .forms {
    margin-top: 30px;
    .form-group {
      margin-bottom: 10px;

      .input-field {
        width: 95%;
        padding-left: 10px;
        margin-bottom: 20px;
        height: 30px;
        font-size: 18px;
        border: none;
      }
    }
  }
  .btn {
    margin: 0 auto;
  }
  .note {
    margin-top: 10px;
    color: #007bbb;
  }
}

// スマホ縦
@media screen and (max-width: 480px) {
  .container {
    background: none !important;
  }
}
