.city-container {
  height: 100%;
  margin: 140px 50px 0 50px;

  hr {
    width: 100%;
    margin-left: 0;
    border-color: #f5f5f5;
  }

  .countryname {
    color: #4682b4;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 5px;
    // color: #333333;
    text-decoration: none;
    &:hover {
      // color: #4682b4;
      font-weight: 400;
    }
  }

  .cityname {
    font-size: 35px;
    font-weight: 300;
  }
  .visitdate {
    font-size: 16px;
    margin-top: 20px;
  }

  .photo-wrapper {
    margin-top: 20px;
  }
  .photo-minus {
    position: absolute;
    color: tomato;
    font-size: 24px;
    cursor: pointer;
    margin: 10px -40px 0 -40px;
  }
  .photo {
    height: 220px;
    width: 220px;
    object-fit: cover;
    margin-right: 5px;
    cursor: pointer;
  }

  .buttons {
    display: flex;
    margin: 50px 0 90px;
    .btn-outer {
      display: flex;
    }
    .btn-wrapper {
      margin-left: 20px;
    }
  }

  .clear {
    clear: both;
  }

  .notes {
    margin-bottom: 100px;
    h4 {
      font-size: 22px;
      margin-bottom: 10px;
    }

    .notes-wrapper {
      margin-top: 30px;
      .note-inner {
        list-style: none;
        width: 100%;
      }
      .left-wrapper {
        display: flex;
        float: left;
        width: 85%;
        .note-icon {
          display: none;
          margin-right: 10px;
          margin-top: 2px;
          color: tomato;
          font-size: 18px;
          cursor: pointer;
          &.is-visible {
            display: table;
          }
        }
        .note {
          font-weight: 300;
          margin-bottom: 18px;
        }
      }
      .note-date {
        float: right;
        font-size: 14px;
        color: #4682b4;
        text-align: right;
      }
    }
  }
  .delete-city-btn {
    margin: 20px 0 120px;
    .btn {
      float: right;
    }
  }
}

// iPhone6/7/8 Plus
@media screen and (max-width: 447px) {
  .city-container {
    .cityname {
      font-size: 33px;
    }
    .notes {
      .notes-wrapper {
        .left-wrapper {
          display: block;
        }
        .note-date {
          float: left;
          margin: 10px 0 25px;
          display: block;
        }
      }
    }
    .delete-city-btn {
      .btn {
        float: none;
      }
    }
    .buttons {
      .btn-wrapper {
        margin-left: 10px;
      }
    }
    .buttons.btn-notes {
      flex-direction: column;
      .btn-wrapper.edit-note {
        margin-left: 0;
      }
      .btn-wrapper.lower {
        margin-top: 10px;
      }
    }
  }
}
// iPhone 6/7/8
@media screen and (max-width: 375px) {
  .city-container {
    .buttons {
      flex-direction: column;
      .btn-wrapper {
        margin: 10px 0 0 0;
      }
      .btn-outer {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
