.country-container {
  height: 100%;
  margin: 140px 50px 0 50px;

  hr {
    width: 100%;
    margin-left: 0;
    border-color: #f5f5f5;
  }

  .countryname {
    font-size: 35px;
    font-weight: 300;
  }

  .btn-outer {
    display: contents;
    margin-bottom: 180px;
    margin: 20px 0 100px;
  }

  .delete-city-hr {
    margin-top: 100px;
  }

  .delete-country-btn {
    margin-top: 20px;
    height: 200px;
    .btn {
      float: right;
    }
  }

  .other-countries {
    width: 100%;
    background-color: #dcdcdc;
    position: absolute;
    left: 0;
    height: 60vh;
  }

  .other-countries-wapper {
    margin: 40px 50px 150px 50px;

    .other-countries-title {
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .othercountryname-outer {
      a.othercountryname {
        text-decoration: none;
        display: inline-block;
        margin: 0 25px 5px 0;
        color: #333333;
        font-weight: lighter;
        &:hover {
          color: #4682b4;
        }
      }
    }
  }
}

// iPhone6/7/8 Plus
@media screen and (max-width: 447px) {
  .country-container {
    .other-countries {
      height: 70vh;
    }
  }
}
