.top {
  position: relative;
  margin-bottom: 80px;

  .background {
    background-image: url('../../img/world-map.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: top 30% right 50%;
    height: 100vh;
    opacity: 0.7;
    filter: grayscale(10%) brightness(90%) contrast(70%) saturate(0%);
  }
  .title {
    position: absolute;
    color: #000;
    top: 0;
    i {
      display: block;
      margin-top: 130px;
      margin-left: 5px;
      font-size: 40px;
    }
    .name {
      margin-top: -75px;
      margin-left: 65px;
      font-weight: 500;
      font-size: 22px;
    }
    .description {
      margin-top: -60px;
      margin-left: 65px;
      font-size: 16px;
      font-weight: 300;
      hr.upper {
        height: 2px;
        border: none;
        background-color: #000;
        margin-top: -10px;
        margin-left: 0;
        width: 105%;
        margin-bottom: 8px;
      }
      hr.bottom {
        height: 2px;
        background-color: #000;
        width: 105%;
        border: none;
        margin-top: 8px;
        margin-left: 0;
      }
    }
  }

  .add {
    position: absolute;
    bottom: 70px;
    left: 50px;
    text-align: center;
    z-index: 2;
    .add-new-btn {
      width: 140px;
      height: 140px;
      border-radius: 140px;
      background-color: #1a1a1a;
      cursor: pointer;
      box-shadow: 0 0 7px #4d4d4d;

      p {
        position: absolute;
        line-height: 1.2;
        font-size: 18px;
        font-weight: 500;
        top: 50px;
        color: #fff;
        left: 0;
        right: 0;
      }
    }
    i {
      color: #000;
      position: relative;
      cursor: pointer;
      display: block;
      p {
        position: absolute;
        line-height: 1.2;
        font-size: 16px;
        top: 55px;
        color: #000;
        left: 0;
        right: 0;
        text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
          1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff;
      }
    }
    i:hover {
      color: darkblue;
    }
  }
}

// max 713px - 標準デザインでドットを配置できる限界
// iPad以下-スマホ以上
@media screen and (max-width: 949px) {
  .top {
    margin-bottom: 270px;
  }
}

// スマホ以下
@media screen and (max-width: 712px) {
  .top {
    position: static;
    .background {
      height: 1500px;
      background-position: top 45% right 50%;
    }
    margin-bottom: 300px;
    .areas {
      .add {
        bottom: -770px;
      }
    }
  }
}
@media screen and (max-width: 625px) {
  .top {
    .areas {
      .add {
        bottom: -820px;
      }
    }
  }
}
@media screen and (max-width: 590px) {
  .top {
    .title {
      .description {
        line-height: 1.2;
        margin-top: -25px;
      }
    }
  }
}
// iPhone6/7/8 Plus
@media screen and (max-width: 447px) {
  .top {
    .title {
      .description {
        width: 80%;
      }
    }
    .background {
      height: 1700px;
      background-position: top 45% right 50%;
    }
    .areas {
      .add {
        position: fixed;
        bottom: 35px;
        left: 70%;
        .add-new-btn {
          width: 100px;
          height: 100px;
          p {
            font-size: 16px;
            top: 32px;
          }
        }
      }
    }
  }
}
// iPhone6/7/8
@media screen and (max-width: 375px) {
  .top {
    .background {
      height: 2050px;
    }
  }
}
