@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/* Navbar */
.navbar {
  height: 85px;
  background-color: #000;
}
.title {
  padding-left: 40px;
  line-height: 85px;
  color: #fff;
  text-decoration: none;
}
