.btn {
  display: block;
  width: 280px;
  opacity: 0.8;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border: none;

  &:hover {
    opacity: 1;
  }

  &.color-brown {
    background-color: brown;
  }

  &.color-blue {
    background-color: #007bbb;
  }

  &.color-orange {
    background-color: #ea5532;
  }

  &.color-green {
    background-color: #00a497;
  }

  &.color-gray {
    background-color: #808080;
  }

  &.color-red-frame {
    border: 3px solid tomato;
    color: tomato;
    background: none;
  }

  &.size-m {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 500;
  }
  &.size-s {
    height: 50px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    width: 200px;
  }
  &.size-xs {
    height: 40px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    width: 140px;
  }
}
