.citycard-container {
  margin-top: 45px;
  .nocities {
    margin: -10px 0 30px;
    font-size: 17px;
    color: #000;
  }
  .citycard-wrapper {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;

    .citycard {
      background-color: #fff;
      position: relative;
      width: 550px;
      height: 280px;
      filter: drop-shadow(0 0 6px #999);
      margin: 0 30px 30px;

      .citycard-contents {
        position: absolute;
        margin: 20px 50px 20px 25px;
        width: 85%;

        li {
          list-style: none;
        }
        .cityname {
          font-size: 25px;
          font-weight: 200;
          float: left;
        }
        .fa-plus-circle {
          float: right;
          position: fixed;
          right: 50px;
          font-size: 21px;
          color: #000;
          &:hover {
            color: #4682b4;
          }
        }
        hr {
          width: 85%;
          position: fixed;
          left: 25px;
          margin: 8px 0;
        }
        .date {
          clear: both;
          display: block;
          font-size: 16px;
          color: #4682b4;
          font-weight: 500;
          margin: 40px 0 8px;
        }
        .note {
          font-size: 15px;
          font-weight: 300;
          color: #000;
          height: 35px;
          margin-bottom: 10px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }

        .withphoto {
          position: absolute;
          width: 495px;
          height: 148px;
          .withphoto-inner {
            width: 100%;
            height: 100%;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }
        .show-note {
          position: absolute;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.5);
          display: none;
          &.is-visible {
            display: block;
          }
          p {
            color: #fff;
            margin: 20px;
            font-size: 15px;
            opacity: 0.9;
          }
        }

        .photo {
          width: 120px;
          height: 120px;
          background-color: #c0c0c0;
          position: absolute;
          cursor: pointer;
          &:hover {
            background-color: #dcdcdc;
          }
          .fa-camera {
            position: absolute;
            top: 40%;
            left: 40%;
            font-size: 23px;
          }
        }
      }
    }
  }
  .rightcolor {
    height: 280px;
    width: 30px;
    position: absolute;
    right: 0;
    &.citycard-oceania {
      background-color: rgba(233, 188, 0, 0.7);
    }
    &.citycard-middle_east {
      background-color: rgba(86, 37, 110, 0.7);
    }
    &.citycard-asia {
      background-color: rgba(216, 52, 115, 1);
    }
    &.citycard-europe {
      background-color: rgba(0, 155, 159, 0.7);
    }
    &.citycard-africa {
      background-color: rgba(159, 194, 77, 0.7);
    }
    &.citycard-latin_america {
      background-color: rgba(0, 117, 194, 0.7);
    }
    &.citycard-north_america {
      background-color: rgba(232, 56, 61, 0.7);
    }
  }
}

// iPhone6/7/8 Plus
@media screen and (max-width: 447px) {
  .country-container {
    .countryname {
      font-size: 33px;
    }
    .rightcolor {
      height: 230px;
      width: 20px;
    }
    .citycard-wrapper {
      .citycard {
        height: 230px;
        margin: 0 0 30px 0;
        .citycard-contents {
          .fa-plus-circle {
            right: 35px;
          }
          .withphoto {
            width: 270px;
            height: 98px;
          }
          .photo {
            width: 270px;
            height: 98px;
            .fa-camera {
              top: 35%;
              left: 10%;
            }
          }
        }
      }
    }
    .delete-country-btn {
      .btn {
        float: none;
      }
    }
  }
}
// iPhone 6/7/8
@media screen and (max-width: 375px) {
  .country-container {
    .citycard-wrapper {
      .citycard {
        .citycard-contents {
          width: 80%;
          .cityname {
            font-size: 23px;
          }
          .withphoto {
            width: 230px;
          }
          .photo {
            width: 230px;
            .fa-camera {
              top: 35%;
              left: 10%;
            }
          }
        }
      }
    }
  }
}
