.areas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  .area-inner {
    position: absolute;
    .fa-circle {
      margin-right: 4px;
    }
    .area-title {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;
      color: #000;
    }
    hr {
      width: 100%;
      margin: 10px 0 25px;
      background-color: #000;
      border: none;
      height: 1px;
    }
  }
  .oceania {
    top: 68%;
    right: 5%;
    width: 20%;
    height: 30%;
  }
  .asia {
    top: 22%;
    right: 8%;
    width: 13%;
    height: 30%;
  }
  .middle_east {
    top: 22%;
    right: 24%;
    width: 16%;
    height: 40%;
  }
  .europe {
    top: 22%;
    right: 43%;
    width: 24%;
    height: 40%;
  }
  .africa {
    top: 68%;
    right: 31%;
    width: 36%;
    height: 30%;
  }
  .latin_america {
    top: 35%;
    right: 70%;
    width: 21%;
    height: 30%;
  }
  .north_america {
    top: 22%;
    right: 71%;
    width: 20%;
    height: 10%;
  }
  li.chip {
    height: 33px;
    width: 33px;
    border-radius: 50%;
    float: left;
    margin: 0 5px 5px 0;
    opacity: 0.8;
    box-shadow: 0 0 7px #000;
    list-style: none;
    &.gray {
      background-color: #a9a9a9 !important;
      cursor: default;
      opacity: 0.7 !important;
    }
    &.color:hover {
      opacity: 1;
    }
    &.chip-oceania {
      background-color: #e9bc00;
    }
    &.chip-middle_east {
      background-color: #56256e;
    }
    &.chip-asia {
      background-color: #d83473;
    }
    &.chip-europe {
      background-color: #009b9f;
    }
    &.chip-africa {
      background-color: #9fc24d;
    }
    &.chip-latin_america {
      background-color: #0075c2;
    }
    &.chip-north_america {
      background-color: #e8383d;
    }
  }

  .show-countryname-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 400px;
    background-color: #fff;
  }
}

// iPad以下-スマホ以上
@media screen and (max-width: 949px) {
  .area-inner.africa {
    top: 83%;
  }
  .area-inner.oceania {
    top: 83%;
  }
}

// スマホ以下
@media screen and (max-width: 712px) {
  .areas {
    .area-inner {
      width: 85%;
      left: 45px;
    }
    .north_america {
      top: 25%;
    }
    .latin_america {
      top: 38%;
    }
    .europe {
      top: 57%;
    }
    .africa {
      top: 84%;
    }
    .middle_east {
      top: 111%;
    }
    .asia {
      top: 134%;
    }
    .oceania {
      top: 153%;
    }
  }
}
// iPhone 6/7/8 Plus
@media screen and (max-width: 447px) {
  .areas {
    .north_america {
      top: 32%;
    }
    .latin_america {
      top: 48%;
    }
    .europe {
      top: 80%;
    }
    .africa {
      top: 122%;
    }
    .middle_east {
      top: 164%;
    }
    .asia {
      top: 202%;
    }
    .oceania {
      top: 229%;
    }
  }
}
// iPhone 6/7/8
@media screen and (max-width: 375px) {
  .areas {
    .area-inner {
      width: 82%;
      left: 45px;
    }
    .north_america {
      top: 32%;
    }
    .latin_america {
      top: 49%;
    }
    .europe {
      top: 83%;
    }
    .africa {
      top: 134%;
    }
    .middle_east {
      top: 185%;
    }
    .asia {
      top: 225%;
    }
    .oceania {
      top: 254%;
    }
  }
}
