@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.countrycard-background {
  position: fixed;
  background: rgba(245, 245, 245, 0.6);
  height: 100vh;
  width: 100%;
  top: 0;
  display: block;
  z-index: 2;
  animation: fadeIn 0.5s ease 0s 1 normal;

  .countrycard-container {
    position: absolute;
    display: block;
    width: 500px;
    height: 300px;
    background-color: #fff;
    top: 185px;
    right: 50px;
    z-index: 2;
    filter: drop-shadow(0 0 6px gray);

    .countrycard-inner {
      margin: 30px 40px;
      .countryname {
        font-size: 25px;
        margin-bottom: 7px;
        font-weight: 500;
      }
      .areaname {
        display: block;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
        text-transform: capitalize;
      }
      hr {
        position: relative;
        margin: 0;
        width: 100%;
      }
      .subject {
        font-size: 18px;
        margin-top: 20px;
        color: #808080;
      }
      .description {
        margin-top: 10px;
        font-size: 15px;
      }
      input {
        position: absolute;
        bottom: 35px;
      }
      i.fas {
        position: absolute;
        right: 35px;
        font-size: 22px;
        color: #808080;
        cursor: pointer;
      }
    }
  }
}

// スマホ以下
@media screen and (max-width: 712px) {
  .countrycard-background {
    .countrycard-container {
      width: 90%;
      right: 0;
      left: 0;
      margin: 0 auto;
      .add-country-container {
        width: 100%;
        .add-country-inner {
          i.fa-times {
            margin-top: -40px;
            margin-bottom: 15px;
          }
          .area-select {
            width: 100%;
          }
        }
      }
    }
  }
}
