.modal-background {
  position: fixed;
  background: rgba(245, 245, 245, 0.6);
  height: 110vh;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;

  .modal-frame {
    width: 600px;
    height: 300px;
    background-color: #fff;
    filter: drop-shadow(0 0 6px gray);
    margin: 0 auto;
    margin-top: 170px;

    i.fas {
      position: absolute;
      font-size: 22px;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }

    .text {
      position: absolute;
      margin: 80px 60px;
      font-size: 17px;
      width: 80%;
      span {
        font-weight: 800;
        font-size: 22px;
      }
      small {
        display: block;
        margin-top: 5px;
        color: #808080;
      }
      hr {
        margin: 5px 0;
      }

      .btn-wrapper {
        float: left;
        margin: 30px 20px 0 0;
      }
    }
  }
}

// iPhone6/7/8 Plus
@media screen and (max-width: 447px) {
  .modal-background {
    .modal-frame {
      width: 90%;
      height: 360px;
      .text {
        top: 65px;
        margin: 0 auto;
        left: 0;
        right: 0;
      }
    }
  }
}
