.preview-background {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #d3d3d3;
  z-index: 2;
  top: 0;
  left: 0;

  i.fa-times {
    position: absolute;
    top: 20%;
    left: 90%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 33px;
    color: #808080;
    cursor: pointer;
  }

  .preview-container {
    .photo {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      max-height: 50%;
      max-width: 50%;
      object-fit: cover;
    }
    .comment {
      text-align: center;
      position: absolute;
      top: 80%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #000;
    }

    .arrows {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      i.fas {
        font-size: 45px;
        color: #808080;
        cursor: pointer;
      }
      .right-arrow {
        position: absolute;
        left: 85%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      .left-arrow {
        position: absolute;
        left: 15%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
}
