.show-countryname {
  animation: SlideIn 0.4s ease;
  position: absolute;
  top: 105px;
  right: 0;
  height: 36px;
  width: 300px;
  filter: drop-shadow(0 0 6px gray);
  &.bar-oceania {
    background-color: #e9bc00;
  }
  &.bar-middle_east {
    background-color: #56256e;
  }
  &.bar-asia {
    background-color: #d83473;
  }
  &.bar-europe {
    background-color: #009b9f;
  }
  &.bar-africa {
    background-color: #9fc24d;
  }
  &.bar-latin_america {
    background-color: #0075c2;
  }
  &.bar-north_america {
    background-color: #e8383d;
  }
  p.countyname {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    line-height: 36px;
    margin-left: 15px;
  }
}
@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
