.alert {
  color: #fff;
  height: 40px;
  width: 500px;
  line-height: 40px;
  margin-left: 40px;
  padding-left: 30px;
  margin-top: 10px;
  opacity: 0.7;
  z-index: 2;
  position: relative;
  top: 90px;
}

.banner-danger {
  background-color: #b33e5c;
}
.banner-success {
  background-color: #00a960;
}

.close {
  float: right;
  right: 20px;
  padding-right: 15px;
}
