.landing {
  background: url(../../img/sky.jpg) no-repeat center center fixed;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: -1;
  .container {
    display: block;
    height: 370px;
    width: 400px;
    background: rgba(245, 245, 245, 0.1);
  }
  .inner {
    text-align: center;
    padding: 40px 20px;
    color: #fff;
    .welcome {
      font-size: 17px;
      font-weight: 300;
      line-height: 1.3;
      span {
        font-size: 23px;
        line-height: 1.7;
        font-weight: 400;
      }
    }
    .buttons {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 110px;
    }
    hr {
      margin: 25px 0;
    }
  }
}

// スマホ縦
@media screen and (max-width: 480px) {
  .landing {
    .container {
      background: none;
    }
  }
}
