nav {
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 0;
}

.title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: 28px;
  float: left;
}

ul.links {
  display: flex;
  float: right;
  margin-top: 35px;
  list-style: none;
  font-size: 17px;
  li a {
    color: #fff;
    margin-right: 40px;
    text-decoration: none;
    cursor: pointer;
  }
}

.smartphone-icon {
  display: none;
}

// スマホ縦
@media screen and (max-width: 480px) {
  i.fas {
    cursor: pointer;
  }
  .title {
    margin-left: -10px;
  }
  .smartphone {
    position: absolute;
    right: 25px;
    top: 27px;
    color: #fff;
  }
  .ham {
    display: block;
    &.isOpen {
      display: none;
    }
  }
  .star {
    display: none;
    &.isOpen {
      display: block;
    }
  }
  ul.links {
    display: none;
    width: 100%;
    &.isOpen {
      display: block;
    }
    li {
      margin-bottom: 20px;
      margin: 0 auto;
      width: 200px;
      a {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 10px 0;
        border: solid 1px #fff;
        background: rgba(254, 253, 253, 0.2);
      }
    }
  }

  .menu {
    display: none;
    height: 100vh;
    width: 100%;
    background: rgba(43, 43, 43, 0.7);
    &.isOpen {
      display: block;
    }
  }
}
