.addcity-background {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 2;

  .addcity-container {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 630px;
    height: 590px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .addcity-inner {
      text-align: center;
      padding: 60px;
      color: #fff;

      i.fa-times {
        float: right;
        margin-top: -25px;
        font-size: 26px;
        cursor: pointer;
        opacity: 0.8;
      }

      .city-title {
        font-size: 22px;
        clear: both;
      }

      .description {
        font-size: 15px;
        font-weight: 300;
        padding: 20px 0 20px 0;
      }

      label {
        display: block;
        text-align: left;
        margin-left: 8px;
      }
      span {
        color: tomato;
      }
      .input-field {
        position: relative;
        width: 95%;
        padding-left: 10px;
        margin: 10px 0 20px;
        height: 30px;
        font-size: 18px;
        border: none;
      }

      textarea.input-field {
        height: 100px;
        resize: none;
      }

      .btn {
        position: relative;
        margin: auto;
        margin-top: 15px;
      }
    }
  }
}

// iPhone6/7/8 Plus
@media screen and (max-width: 447px) {
  .addcity-background {
    .addcity-container {
      background: rgba(0, 0, 0, 0.6);
      top: 30px;
      height: 570px;
      width: 90%;
      .addcity-inner {
        padding: 40px;
      }
    }
  }
}
// iPhone6/7/8
@media screen and (max-width: 375px) {
  .addcity-background {
    .addcity-container {
      top: 50px;
      height: 550px;
      .addcity-inner {
        .btn {
          width: 100%;
        }
      }
    }
  }
}
