.add-country-background {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  z-index: 3;
  display: block;

  .add-country-container {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 630px;
    height: 420px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    .add-country-inner {
      text-align: center;
      padding: 60px;
      color: #fff;
      i.fa-times {
        float: right;
        margin-top: -25px;
        font-size: 26px;
        cursor: pointer;
        opacity: 0.8;
      }
      .country-title {
        font-size: 22px;
        clear: both;
      }
      .error-msg {
        margin: 10px 0 -15px;
        font-weight: 700;
        color: red;
      }
      .description {
        font-size: 15px;
        font-weight: 300;
        padding: 30px 0 30px 0;
      }
      .btn {
        margin-top: 35px;
      }
      .input-field {
        width: 95%;
        padding-left: 10px;
        margin-bottom: 20px;
        height: 30px;
        font-size: 18px;
        border: none;
      }
      .area-select {
        width: 500px;
        height: 30px;
        font-size: 18px;
        .choose {
          color: darkgray;
        }
      }
      input.btn {
        background-color: #ea5532;
        font-size: 18px;
        font-weight: 500;
        margin: auto;
        margin-top: 50px;
      }
    }
  }
}

// スマホ以下
@media screen and (max-width: 712px) {
  .add-country-background {
    .add-country-container {
      background: rgba(0, 0, 0, 0.5);
      width: 90%;
      .add-country-inner {
        padding: 35px 25px 0;
        i.fa-times {
          margin-top: -20px;
          margin-bottom: 15px;
        }
        .area-select {
          width: 100%;
        }
      }
    }
  }
}
