.citynote-background {
  height: 100vh;
  width: 100%;
  background: rgba(245, 245, 245, 0.6);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;

  .citynote-frame {
    width: 620px;
    height: 360px;
    background-color: #fff;
    filter: drop-shadow(0 0 6px gray);
    margin: 0 auto;
    margin-top: 170px;

    i.fas {
      position: absolute;
      font-size: 22px;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }
    .text {
      position: absolute;
      margin: 45px 60px;
      font-size: 17px;
      width: 80%;
      span {
        font-weight: 800;
        font-size: 22px;
      }
      hr {
        margin: 3px 0;
      }
    }

    textarea.note {
      border: 2px solid #808080;
      margin-top: 30px;
      width: 97%;
      height: 110px;
      font-size: 15px;
      padding: 5px;
      resize: none;
    }

    .submit {
      display: contents;
      .btn {
        position: absolute;
        margin-top: 30px;
      }
    }
  }
}

// iPhone6/7/8 Plus
@media screen and (max-width: 447px) {
  .citynote-background {
    .citynote-frame {
      width: 90%;
      .text {
        width: 80%;
        margin: 40px 30px;
      }
    }
  }
}
