.uploader-container {
  position: fixed;
  background: rgba(245, 245, 245, 0.6);
  height: 110vh;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;

  .uploader-frame {
    width: 620px;
    height: 580px;
    background-color: #fff;
    filter: drop-shadow(0 0 6px gray);
    margin: 0 auto;
    margin-top: 170px;

    i.fas {
      position: absolute;
      font-size: 22px;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }

    .text {
      position: absolute;
      margin: 45px 60px;
      font-size: 17px;
      width: 80%;
      span {
        font-weight: 800;
        font-size: 22px;
      }
      hr {
        margin: 3px 0;
      }
    }

    label {
      display: block;
      margin-top: 20px;
      font-size: 13px;
      font-weight: 500;
      color: #808080;
    }
    textarea.comment {
      border: 2px solid #808080;
      margin-top: 5px;
      width: 99%;
      height: 40px;
      font-size: 15px;
      padding: 5px;
      resize: none;
    }

    .dropzone-description {
      margin-top: 15px;
      font-size: 13px;
      font-weight: 500;
      color: #808080;
    }

    .dropzone {
      display: inline-block;
      position: absolute;
      border: 6px solid #d5dded;
      background-color: #ededed;
      height: 300px;
      width: 500px;
      top: 64%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      &.is-disabled {
        pointer-events: none;
        position: relative;
        border: 6px solid #e6b8b8;
        .add-comment-first {
          color: #e6a1a1;
        }
      }

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 600;
        font-size: 17px;
        color: #6495ed;
        text-align: center;
      }
    }
  }
}

// iPhone6/7/8 Plus
@media screen and (max-width: 447px) {
  .uploader-container {
    .uploader-frame {
      width: 90%;
      height: 510px;
      margin-top: 140px;
      i.fas {
        top: 25px;
      }
      .text {
        margin: 50px 30px 0;
        font-size: 16px;
      }
      .dropzone {
        width: 300px;
        height: 200px;
        top: 67%;
      }
    }
  }
}
// iPhone 6/7/8
@media screen and (max-width: 375px) {
  .uploader-container {
    .uploader-frame {
      margin-top: 110px;
      .dropzone {
        width: 270px;
        height: 180px;
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .uploader-container {
    .uploader-frame {
      height: 480px;
      .text {
        margin: 40px 30px 0;
      }
      .dropzone {
        width: 260px;
        height: 150px;
        top: 71%;
      }
    }
  }
}
